# Python
venv/
__pycache__/
*.pyc

# Environment variables
.env

# Chroma Database
db/chroma_db/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Ignore all PDFs and docs folder
docs/
# OR ignore only PDF files
# docs/*.pdf